In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

In [272]:
def getEntropy(df, feature) :
    size = len(df)
    yes = sum(df.class_buys_computer=='yes')/size
    no = sum(df.class_buys_computer=='no')/size
    entropy = -yes*np.log2(yes)-no*np.log2(no)
    return entropy

In [273]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [269]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    
    result = []
    
    for column in columns:  ## column : 현재 변수명
        unique = df[column].unique()
        entropy_class = []
        count = []
        
        for name in unique:  ## name : 현재 변수의 class명
            entropy_class.append(getEntropy(df[df[column]==name], feature))
            count.append(len(df[df[column]==name]))
        
        entropy_class = np.nan_to_num(np.array(entropy_class))  ## yes만 있거나 no만 있을 경우 로그값이 무한대로 가서 결측치 처리
        weighted = sum(entropy_class*count/len(df))
        result.append([column, info_D - weighted])
    
    return result

In [271]:
getGainA(df, "class_buys_computer")

C:\Users\tpdud\anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log2
  """
C:\Users\tpdud\anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

[['age', 0.24674981977443922],
 ['income', 0.02922256565895487],
 ['student', 0.15183550136234159],
 ['credit_rating', 0.04812703040826949]]